<div class="container ocuparScreen">

  <h1>Admin User</h1>
  <h2>management</h2>
  <hr>

  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Created_at</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">11822</th>
      <td>Jose Franton</td>
      <td>joseFranton@trioangle.com</td>
      <td>vehicle_details</td>
      <td>2021-11-17 05:25:35</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">11821</th>
      <td>Chomin Lang</td>
      <td>chomingLang@trioangle.com</td>
      <td>document_details</td>
      <td>2021-11-10 00:07:44</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">11813</th>
      <td>Barbara Yoder</td>
      <td>barbieyoder05@gmail.com</td>
      <td>waiting for approval</td>
      <td>2021-11-06 19:07:30</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">11818</th>
      <td>Michael Davis</td>
      <td>25Lilmike25@gmail.com</td>
      <td>vehicle_details</td>
      <td>2021-11-13 23:30:14</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    </tbody>
  </table>
