<div class="container ps-6 partners">
  <h1>Payouts</h1>
  <body>
  <div class="container">
    <div class="card-group mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Net earnings</h6>
          <p class="card-text">$ 800.66</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Orders</h6>
          <p class="card-text">10</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Next payment</h6>
          <p class="card-text">18 Oct</p>
        </div>
      </div>
    </div>
  </div>
  </body>
  <br>
  <br>


  <h5>Payout history</h5>
  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Week Of</th>
      <th scope="col">Orders</th>
      <th scope="col">Sale</th>
      <th scope="col">Tax</th>
      <th scope="col">Total</th>
      <th scope="col">Gofer Alcohol Fee</th>
      <th scope="col">Net Payout</th>
      <th scope="col">Payout Status</th>
      <th scope="col">Penalty</th>
      <th scope="col">Paid Penalty</th>
      <th scope="col">Status</th>
      <th scope="col">Weekly Statement</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">03 Sep - 09 Sep</th>
      <td>10</td>
      <td>$1210.00</td>
      <td>$179.80</td>
      <td>$1289.80</td>
      <td>$139.03</td>
      <td>$800.66</td>
      <td>Pending</td>
      <td>$300.00</td>
      <td>$100.00</td>
      <td>
        <div class="card">
          Pending
        </div>
      </td>
      <td>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="bg-danger"
             class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>


  <h5>Payout Methods</h5>
  <div class="tabla">
    <button type="button" class="btn btn-danger">Add</button>
  </div>
  <br>
  <br>
  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Method</th>
      <th scope="col">Details</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Stripe Default</th>
      <td>acct_1D7JQMIBODeDZxDy (USD)</td>
      <td>Ready</td>
      <td>
        <button type="button" class="btn btn-danger">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
