<div class="container ocuparScreen">

  <h1>Admin User</h1>
  <h2>management</h2>
  <hr>

  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Display name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Admin</td>
      <td>-------------</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Subadmin</td>
      <td>-------------</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>

    </tbody>
  </table>


</div>
