<div class="d-flex align-items-start ocuparVertical pocisionSup">
  <nav class="navbar navbar-expand-xxl navbar-dark border-3">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuIzquierdo">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="MenuIzquierdo" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <hr style="color: white">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]='["eleccion-registro"]'>Admin</a>
          </li>
          <hr style="color: white">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]='["dashBoard"]'>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["admin_users"]'>Admin User <br> Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["roles"]'>Roles Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["consumers"]'>User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["drivers"]'>Driver Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["categoryProduct"]'>Category Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='["stores"]'>Store Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]='[""]'>Manage Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<nav class="navbar navbar-expand navbar-light bg-white sticky-top Small shadow-sm p-3 pocisionInf altoNav">
  <div class="container-fluid">
    <div>
      <img class="img-fluid ms-4 sizeImg" src="../../../../assets/logo/1.png" alt="">
    </div>
    <div class="form-check form-switch">
      <a class="btn btn-outline-danger" href="">Cerrar Sesion</a>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>
