<div class="container mt-5 ps-6">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Offers</h1>
    <a class="btn btn-outline-danger" href="">Add offers</a>
  </div>

  <table class="table">
    <thead>
    <tr class="table-dark">
      <th scope="col">ID</th>
      <th scope="col">Offer Title</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Percentage</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr><td  colspan="3" class="">No Offers</td></tr>

    <!--<tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>-->
    </tbody>
  </table>
</div>
