<div class="container ocuparScreen">

  <h1>Admin User</h1>
  <h2>management</h2>
  <hr>

  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>admin</td>
      <td>admin@trioangle.com</td>
      <td>Admin</td>
      <td>Active</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>subadmin</td>
      <td>subadmin@trioangle.com</td>
      <td>subadmin</td>
      <td>Active</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>accountant</td>
      <td>accountant@trioangle.com</td>
      <td>subadmin</td>
      <td>Active</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Tonystark</td>
      <td>tonystrak@gmail.com</td>
      <td>Admin</td>
      <td>Active</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    </tbody>
  </table>


</div>
