<div class="container ocuparScreen">

  <h1>Category Products</h1>
  <hr>

  <table class="table table-bordered border-black">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category Status</th>
      <th scope="col">Is Top</th>
      <th scope="col">Most Popular</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">30</th>
      <td>Glass</td>
      <td>Active</td>
      <td>No</td>
      <td>Yes</td>
      <td>2018-05-28 21:10:00</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>Ginger beer</td>
      <td>Active</td>
      <td>No</td>
      <td>No</td>
      <td>2018-05-28 21:10:00</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>Energy drink	</td>
      <td>Active</td>
      <td>Yes</td>
      <td>No</td>
      <td>2018-05-28 21:10:00</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>Wiskey</td>
      <td>Active</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>2018-05-28 21:10:00</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>Non-Alcoholic</td>
      <td>Active</td>
      <td>No</td>
      <td>Yes</td>
      <td>2018-05-28 21:10:00</td>
      <td>
        <button type="button" class="btn btn-warning mx-2">Edit</button>
        <button type="button" class="btn btn-danger">X</button>
      </td>
    </tr>
    </tbody>
  </table>


</div>

